# Git Ignore files #

# Ignore the venv directory
.venv

# except this file C:\Users\n740789\Documents\clarity_data_quality_controls\excel_books\sri_data\overrides\overrides_db.xlsx
!excel_books/sri_data/overrides/overrides_db.xlsx
#except this file C:\Users\n740789\Documents\clarity_data_quality_controls\excel_books\sri_data\portfolios_committees\portfolio_lists.xlsx
!excel_books/sri_data/portfolios_committees/portfolio_lists.xlsx
# except this file excel_books\sri_data\pre-ovr-analysis\20250402_pre_ovr_incl_analysis.xlsx
!excel_books/sri_data/pre-ovr-analysis/20250402_pre_ovr_incl_analysis.xlsx

# Ignore the ouput directory
output/

# ignore delta_results files
*_delta_results.csv
202411_delta_results_analysis_preovr.csv

# ignore json file summary_data.json
summary_data.json

# ignore explore.ipynb file from old_notebooks dir
old_notebooks/explore.ipynb

# ignore the sql populate table file
database_project/
database_project/populate_fact_table_clarity_data.sqllog/*
scripts/log/remove_duplicates_without_ovr_20250317.log
scripts/utils/__pycache__

# Ignore the delta_*.csv files
delta_*.csv

# ignore content of dir log
log/*
# except the file log/logconfig.log
!log/logconfig.log

# ignore the content of dir scripts/__pycache__
scripts/__pycache__
scripts/__pycache__/config.cpython-312.pyc
scripts/__pycache__/_00_preovr_analysis.cpython-313.pyc
scripts/__pycache__/config.cpython-313.pyc

scripts/utils/__pycache__
scripts/utils/__pycache__/*
excel_books/sri_data/ovr_lists_sambau_infinity/
excel_books/sri_data/noncompliance/2025/

excel_books/aladdin_data/snt_word_issuer_data/
excel_books/aladdin_data/crossreference/
excel_books/aladdin_data/crossreference/Aladdin_Clarity_Issuers_20250601.csv
excel_books/sri_data/pre-ovr-analysis/
excel_books/sri_data/overrides/20250619_202507_overrides_db_beta.xlsx
excel_books/aladdin_data/bmk_portf_str/

code_updated.zip
